@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

.main-container {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}

.main-container .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .top-container .logo {
  font-weight: bold;
  font-size: 2rem;
}

.main-container .top-container .logo span {
  color: #721be1;
}

.main-container .top-container .mode {
  font-size: 1.8rem;
}

.main-container .typing-section {
  margin-top: 72px;
}

.main-container .typing-section .word-container .word {
  font-size: 2rem;
  font-weight: 500;
}

.main-container .typing-section .input-container {
  margin-top: 32px;
}

.main-container .typing-section .input-container .input {
  width: 100%;
  resize: none;
  border: none;
  background-color: #f2efef;
  height: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.6em;
}

.main-container .typing-section .input-container .input:focus {
  outline: none;
}

.correct {
  color: green;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.wrong {
  color: red;
}

.mode.dark {
  background-color: #201f1f;
}

.mode.dark .main-container {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 1em;
  color: white;
}

.mode.dark .main-container .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mode.dark .main-container .top-container .logo {
  font-weight: bold;
  font-size: 2rem;
}

.mode.dark .main-container .top-container .mode {
  font-size: 1.8rem;
}

.mode.dark .main-container .typing-section {
  margin-top: 72px;
}

.mode.dark .main-container .typing-section .word-container .word {
  font-size: 2rem;
  font-weight: 500;
  color: #b2b2b2;
}

.mode.dark .main-container .typing-section .input-container {
  margin-top: 32px;
}

.mode.dark .main-container .typing-section .input-container .input {
  width: 100%;
  resize: none;
  border: none;
  background-color: #3a3a3a;
  height: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.6em;
  color: white;
}

.mode.dark .main-container .typing-section .input-container .input:focus {
  outline: none;
}

.score-container {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.score-container .scores .wpm {
  line-height: 0.01;
  font-weight: 500;
  font-size: 3rem;
}

.score-container .scores .score {
  font-weight: bold;
  font-size: 6rem;
}

.score_container {
  display: none;
}

.button {
  width: 140px;
  height: 40px;
  border: 1px solid #721be1;
  font-size: 2rem;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px auto;
  cursor: pointer;
}

.button:hover {
  background-color: #721be1;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body.active {
  background-color: black;
  color: white;
}

body.active .word {
  color: grey;
}

body.active #input {
  background-color: #0f0f0f;
  color: grey;
}
/*# sourceMappingURL=index.css.map */